<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Me</h1>
    <h1 class="name">William Torman</h1>
    <p class="intro">I like to build computers and write code.</p>
    <ul>
        <li>Build Computers</li>
        <li>Write Code</li>
        <li>Play Games like Halo</li>
        <img class="selfPortrait" src="/public/images/pic.JPG">
    </ul>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>[Add some content specific to this page]</p>
</body>
</html>